9-pos-textuais/anexos/arquivos/movie-anotado.wsdl

<description xmlns="http://www.w3.org/ns/wsdl" xmlns:tns="http://moviestoreservice.com/" targetNamespace="http://moviestoreservice.com/" xmlns:sawsdl="http://www.w3.org/ns/sawsdl">
  <!--

      Documentation at:
      http://esw.w3.org/topic/WsdlConverter

      To report problems, please refer to:
      http://esw.w3.org/topic/WsdlConverterFeedback

      Generated by the WSDL converter version:
      2006-02-20
      
    -->
  <types>
    <s:schema xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" elementFormDefault="qualified" targetNamespace="http://moviestoreservice.com/">
      <s:element name="GetAllMovies">
        <s:complexType />
      </s:element>
      <s:element name="GetAllMoviesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllMoviesResult" type="tns:ArrayOfMovie" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMovie">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Movie" nillable="true" type="tns:Movie" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Movie" sawsdl:modelReference="http://www.movieontology.org/2009/11/09/Movie">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Awards" type="tns:ArrayOfAward" />
              <s:element minOccurs="0" maxOccurs="1" name="Cast" type="tns:ArrayOfActor" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Nationality" type="tns:Country" />
              <s:element minOccurs="1" maxOccurs="1" name="Year" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Category" type="tns:Genre" />
              <s:element minOccurs="0" maxOccurs="1" name="Producers" type="tns:ArrayOfProducer" />
              <s:element minOccurs="0" maxOccurs="1" name="Directors" type="tns:ArrayOfDirector" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Director" sawsdl:modelReference="http://dbpedia.org/page/Film_Director">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="DateOfBirth" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Country" sawsdl:modelReference="http://dbpedia.org/ontology/Country">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Producer" sawsdl:modelReference="http://www.movieontology.org/2009/10/01/movieontology.owl#Producer">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Genre" sawsdl:modelReference="http://www.movieontology.org/2009/10/01/movieontology.owl#Genre">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Actor" sawsdl:modelReference="http://dbpedia.org/ontology/Actor">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Award" sawsdl:modelReference="http://www.movieontology.org/2009/10/01/movieontology.owl#Award">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseModel">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Year" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfAward">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Award" nillable="true" type="tns:Award" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfActor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Actor" nillable="true" type="tns:Actor" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProducer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Producer" nillable="true" type="tns:Producer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDirector">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Director" nillable="true" type="tns:Director" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </types>
  <interface name="MovieStoreServiceSimplifiedSoap">
    <operation name="GetAllMovies" pattern="http://www.w3.org/ns/wsdl/in-out">
      <input element="tns:GetAllMovies" />
      <output element="tns:GetAllMoviesResponse" />
    </operation>
  </interface>
  <binding xmlns:wsoap="http://www.w3.org/ns/wsdl/soap" name="MovieStoreServiceSimplifiedSoap" interface="tns:MovieStoreServiceSimplifiedSoap" type="http://www.w3.org/ns/wsdl/soap" wsoap:version="1.1" wsoap:protocol="http://www.w3.org/2006/01/soap11/bindings/HTTP/">
    <operation ref="tns:GetAllMovies" wsoap:soapAction="http://moviestoreservice.com/GetAllMovies" />
  </binding>
  <binding name="MovieStoreServiceSimplifiedSoap12" interface="tns:MovieStoreServiceSimplifiedSoap">
    <soap12:binding xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation ref="tns:GetAllMovies" />
  </binding>
  <service name="MovieStoreServiceSimplified" interface="tns:MovieStoreServiceSimplifiedSoap">
    <endpoint name="MovieStoreServiceSimplifiedSoap" binding="tns:MovieStoreServiceSimplifiedSoap" address="https://localhost:44350/MovieStoreServiceSimplified.asmx" />
    <endpoint name="MovieStoreServiceSimplifiedSoap12" binding="tns:MovieStoreServiceSimplifiedSoap12" />
  </service>
</description>